.indi-wrap{
    margin-top: 50px;
    font-family: 'noto', sans-serif;
    .lst-indi{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style:none;

        li{
            position: relative;
            width: 264px;
            height: 264px;
            border: 4px solid #bbb;
            border-radius: 50%;
            text-align: center;
            margin: 0 1rem;
            z-index: 100;

            div{
                display: table;
                width: 100%;
                height: 100%;

                p{
                    display: table-cell;
                    vertical-align: middle;

                    span{
                        display: block;
                        color: #bbb;
                    }

                    span.title{
                        font-size: 20px;
                        margin-bottom: 40px;
                    }

                    span.count{
                        line-height: 45px;
                        font-size: 45px;
                    }
                }
            }

        }
        li.active{
            border: 4px solid #f9a21b;
        }
        li.active span{
            color: #f9a21b;
        }

    }
}

.cont-noti {
    margin-top: 30px;
    margin-right: 20px;
    font-size: 18px;
    color: #bbb;
    text-align: right;
    &.small{
        margin: 0 60px 0 0;
        font-size: 15px;
    }
}

.graph-area{
    &.title-type{
        position: relative;
        border: 1px solid #ddd;
        padding: 60px 100px;
    }

    .bx_name{
        position: absolute;
        top: -1px;
        left: -1px;
        min-width: 150px;
        height: 60px;
        border: 1px solid #ddd;
        background: #f1f1f1;
        padding: 0 10px;
        font-size: 20px;
        text-align: center;
        line-height: 60px;
    }

    > ul{
        display: flex;
        padding: 0;
        margin-top: 20px;
        justify-content: flex-start;
        list-style: none;
    }

    &.bar{
        .graph-list{
            li{
                width: 25%;
                margin: 0 10px;
                
                p{
                    line-height: inherit;    
                    margin: 0;
                }
                .count-area{
                    border: 1px solid #d1d1d1;
                    padding: 10px 20px;
                    border-radius: 20px;
                    margin-bottom: 20px;
                    color: #888;
            
                    .count{
                        font-size: 40px;
                        text-align: center;
                        margin-bottom: 0;

                        &.blue{
                            color: #8faadc;
                        }

                        &.red{
                            color: #fb9874;
                        }
                    }

                    .area-title{
                        font-size: 20px;
                    }
                }
            }
            
        }
    }
    
    &.line{
        .graph-list{
            li{
                width: 25%;
                margin: 0 10px;
                &.center_graph{
                    width: 50%;
                }
            }
            
            .txt-area{
                padding: 10px 0;
                background: #4e4f4f;
                font-size: 14px;
                text-align: center;
                color: #fff;

                p{
                    margin: 0;
                }
            }
        }
    }
}

.channel_header{
    .btn-h_tab{
        background-color: #fff;
        border-color: #bbb;
        color: #bbb;

        &.active{
            background-color: #f9a21b;
            border-color: #f9a21b;
            color: #fff;
        }
        + .btn-h_tab{
            margin-left: 10px;
        }
    }
}

.channel_cont{
    margin-top: 10px;
    display: none;

    &.active{
        display: block;
    }

    .btn-items{

        background-color: #fff;
        border: none;
        color: #bbb;

        &.active{
            background-color: #f9a21b;
            border-color: #f9a21b;
            color: #fff;
        }

        + .btn-items{
            margin-left: 10px;
        }
    }

    .list_tag{
        margin: 10px 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;
            padding: 0.5rem 1rem;
            border: 1px solid #f9a21b;
            border-radius: 20px;
            color: #555;

            .close{
                margin-left: 10px;
                font-size: 1rem;
                span{
                    vertical-align: middle;
                }
            }
            + li{
                margin-left: 10px;
            }
        }
    }
}

.tbl-indicator{
    thead{
        th{
            text-align: center;
            color: #666;
        }
    }
    

    tbody{
        td{
            font-size: 13px;
            text-align: center;
            color: #888;
        }
    }
}
.overview_area {
    .table-hover {
        text-align: center;
        
        thead{
            th{
                background: #a6a6a6;
                color: #fff;
                padding: 23px 0;
            }
        }

        tbody{
            tr:hover{
                background: #f9a21b;
                color: #fff;
                cursor: pointer;
            }
            td{
                padding: 30px 0;
            }
        }
    }
}

.bx_select_area{
    position: relative;
    .select-title{
        float: left;
        margin-top: 5px;
        margin-right: 20px;
        font-size: 18px;
        color: #888;
        vertical-align: middle;
    }
    .select-box{
        float: left;
        width: 100%;
        max-width: 180px;    
    }

    &:after{
        display: block;
        overflow: hidden;
        width: 1px;
        height: 1px;
        clear: both;
        content: '';
    }
}

.lookup-area{
    .check-single-box{
        display: none;

        + label{
           display: inline-block;
           position: relative;
           padding-left: 18px;
           margin-bottom: 0;

           &::before{
            content:'';
            position:absolute;
            left:0;
            top:3px;
            width:12px;
            height:12px;
            text-align:center;
            background:#fff;
            border:1px solid #ccc;
            box-sizing:border-box;
           }
        }
        &:checked{
            + label{
                &::before{
                    border-color: #f9a21b;
                    background-color: #f9a21b;
                }
            }
        }
    }
}

.mt0{
    margin-top: 0 !important;
}

.heatmap_margin {
    margin-top: 20px;
    height: 100%;
}

// .heatTable {
//     height: 92%;
// }

.graph-area {
    &.Heat-Map{
        // padding-left: 276px;
        
        .heatmap_wrap_table{
            // position: absolute;
            // width: 298px;
            top: 0;
            left: 0;
            border-bottom: none;
            text-align: center;

            th{
                width: 50%;
                padding: 10px 15px;
                text-align: center;
            }
            td{
                height: 54.0437px;
                border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                // padding-top: 8%;
                padding-bottom: 0;
                font-size: 14px;
            }
        }
    }

}


.social_area{
    
    .select-box{
        margin-left: 56px;
    }

    .box-line{
        border: none;

        .box{
            position: relative;
            border: 1px solid #d4d4d4;
            margin: 0 2.5%;
            &.right{
                width: 45%;
            }
        }
    }
}

.tbl_updown{
    text-align: center;
    tr{
        th{
            text-align: center;
            font-family: 'noto', sans-serif;
        }
        .td_data{

            &:hover{
                background: #fbe5d6;
                cursor: pointer;
            }

            &.up{
                color: #ff0000;
            }
            &.down{
                color: #0070c0;
            }
        }
    }
}

.tbl_channel{
    text-align: center;

    tr{
        th{
            text-align: center;
            font-family: 'noto', sans-serif;
        }
        td{
            font-size: 14px;
            border-right: 1px solid #f3f3f3;
            border-bottom: 1px solid #f3f3f3;
        }
    }
}

.ReactTags__selected{

    .ReactTags__tag{
        float: left;
        padding: 0.5rem 0.7rem;
        margin-right: 5px;
        border: 1px solid #bbb;
        border-radius: 20px;
        color: #555;
        vertical-align: middle;
        .ReactTags__remove{
            margin-left: 10px;
            background: transparent;
            border: none;
        }

        + .ReactTags__tag{
            margin: 0 5px;
        }
    }  

    .ReactTags__tagInput{
        .ReactTags__tagInputField{
            display: inline-block;
            padding: 0.5rem 1rem;
            border: 1px solid #d7d7d7;

            &:focus-visible{
                outline: none;
            }

            &[name~="hide"]{
                display: none;
            }
        }
    }
}


.recharts-legend-wrapper{
    top: 0 !important;
}

.t-c{
    text-align: center !important;
}

.sentiment_wrap{
    .chart-area{
        .chart-header{
            display: block;
            line-height: 50px;
            .chart-title{
                h4{
                    color: #fff;
                }
            }
            &.blue{
                background-color: #0070c0;
            }
            &.red{
                background-color: #f00000;
            }   
        }
    } 
    .tbl_basic{
        text-align: center;
        border-bottom: none;
    }
    .box-line{
        margin-top: 0;
        border: none;
        .box{
            width: 50% !important; 

            &.right{
                padding: 0 0 0 10px;
            }
            &.left{
                padding: 0 10px 0 0;
            }
        }
    }
}

.online_overview{
    
    .arrow_box{
        border-radius: 20px;
        padding: 5px 10px;
        text-align: center;
        &::before{
            border: none;
        }
    }
    .apexcharts-tooltip {
        overflow: visible !important;
        border-radius: 20px;
        background: none !important;
        box-shadow: none;
        p{
            margin-bottom: 0;
            color: #4f8bc1;
        }
        span{
            display: inline-block;
        }
    }
    .graph-area.bar_area{
        .box-line{
            border: none;
        }
        .cont-noti{
            &.small{
                margin-top: 10px;
                margin-right: 20px;
                margin-bottom: 0;
            }
        }
    }
    .box{
        .cont-noti{
            &.small{
                margin-top: 10px;
                margin-right: 5px;
                margin-bottom: 20px;
            }
        }
        .tbl_basic{
            text-align: center;            
        }
    }
}

.brushChart_wrap{
    .cont-noti{
        position: absolute;
        top: 290px;
        right: 48px;
    }
    .form-group{
        margin-bottom: 0;
    }
}